<div id="datepicker">
  <div class="row">
    <div class="col-lg-6">
      <label for="date-picker">Date</label>
      <input type="text" value="{{date}}" name="date" id="date-picker" class="form-control">
    </div>
    <div class="col-lg-6">
    <label for="time-picker">Time</label>
      <input type="text" value="{{time}}" name="time" id="time-picker" class="form-control">
    </div>
  </div>

  <div class="calendar"></div>

  <a href="#" class="btn btn-primary pull-left done">Done</a>
  <a href="#" class="btn btn-secondary pull-right today">Today</a>
</div>
